<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RecursosHumanos.DS.BD.Conexion" connectionString="Data Source=.;Initial Catalog=BD_RRHH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>